@import url("./animation.scss");
/*
  进入和离开动画可以使用不同
  持续时间和速度曲线。
*/
.slide-fade-enter-active {
  transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

$font-round: Varela Round;

@mixin matte-finish-box {
  background: hsla(0, 0%, 35%, 0.3);
  backdrop-filter: blur(2px);
}

$primary-1: hsl(162, 30%, 22%);
$primary-2: hsl(160, 35%, 32%);
$primary-3: hsl(158, 28%, 46%);
$primary-4: hsl(154, 35%, 78%);
$primary-5: hsl(152, 35%, 89%);
